<%= simple_form_for(@event) do |f| %>
<%= f.error_notification %>
<div class="field">
  <div class="control">
    <%= f.input :name, label: "Event name", input_html: { class: "input"}, wrapper: false, label_html: {class: "label"}, autofocus: true %>
  </div>
</div>
<div class="field">
  <div class="control">
    <%= f.input :location, label: "The event's location", input_html: { class: "input"}, wrapper: false, label_html: {class: "label"} %>
  </div>
</div>
<div class="field">
  <div class="control">
    <%= f.input :date, as: :date, label: "When is the event being held?", input_html: { class: "input"}, wrapper: false, label_html: {class: "label"} %>
  </div>
</div>
<div class="field">
  <div class="control">
    <%= f.input :creator_display_name, label: "Creator display name", input_html: { class: "input"}, wrapper: false, label_html: {class: "label"} %>
  </div>
</div>
<%= f.button :submit, class: "button is-primary" %>
<% end %>
